@font-face {
  font-family: "The Breath of Zelda";
  src: url("assets/fonts/The\ Wild\ Breath\ of\ Zelda.otf") format("opentype");
}

body {
  font-family: "The Breath of Zelda";
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.countdown-display {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
  font-size: 3rem;
  margin-top: 8rem;
  text-transform: uppercase;
}

.countdown-display > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
